{
  "openapi": "3.0.1",
  "info": {
    "title": "SolarEnergyPrediction",
    "description": "AI-based photovoltaic power prediction for unmetered PV plants. Powered by our industry-leading irradiance and real-time weather data.",
    "version": "1.1"
  },
  "servers": [
    {
      "url": "https://solarenergyprediction.p.rapidapi.com"
    }
  ],
  "paths": {
    "/v2.0/solar/prediction": {
      "get": {
        "tags": [
          "default",
          "prediction"
        ],
        "summary": "Generation prediction for the next 4 days ",
        "description": "The PV generation forecast for unmetered PV systems makes it possible to predict production of a PV system on an hourly basis for the next 4 days without having your own metering equipment or system-specific generation data.",
        "parameters": [
          {
            "name": "X-RapidAPI-Key",
            "in": "header",
            "description": "Could be retrieved from rapidapi.com account (free)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "description": "Geocode longitude part of pv plant",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number"
            },
            "example": "8.123"
          },
          {
            "name": "lat",
            "in": "query",
            "description": "Geocode latitude part of pv plant",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number"
            },
            "example": "46.1234"
          },
          {
            "name": "wp",
            "in": "query",
            "description": "Installed Watt-Peak (eq. kWp/1000)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number"
            },
            "example": "6000"
          },
          {
            "name": "deg",
            "in": "query",
            "description": "PV plant declination degrees, 0 (horizontal) … 90 (vertical)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number"
            },
            "example": "32"
          },
          {
            "name": "az",
            "in": "query",
            "description": "plane azimuth, -180 … 180 (-180 = north, -90 = east, 0 = south, 90 = west, 180 = north)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number"
            },
            "example": "0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success -Forecast for the next 4 days using given parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://solarenergyprediction.p.rapidapi.com"
          }
        ]
      },
      "servers": [
        {
          "url": "https://solarenergyprediction.p.rapidapi.com"
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "inline_response_200": {
        "type": "object",
        "properties": {
          "input": {
            "type": "array",
            "items": {
              "type": "object",
              "description": "Parameters used to generate forecast."
            }
          },
          "output": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "description": "ISO String of predicted hour in UTC timezone(start)"
                },
                "timestamp": {
                  "type": "integer",
                  "description": "Unix Timestamp (Milliseconds)"
                },
                "wh": {
                  "type": "integer",
                  "description": "predicted generation in Watt-hours"
                }
              },
              "description": "Generation per Timestamp"
            }
          }
        }
      }
    }
  }
}
